@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Variables */
:root {
    --white-color: #ffffff;
    --dark-color: #333333;
    --dark-color-alt: #444444;
    --font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FBFEFD;
    background-size: cover;
    background-position: center;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 100vh;
    background-image: url(../img/background4contact.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Back button styles */
.back-button {
    display: block;
    margin-top: 20px;
    padding: 10px 15px;
    width: 130px;
    background-color: #fff;
    color: #069C54;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    font-family: var(--font-family);
    white-space: nowrap;
    text-align: center;
    margin-left: 10px;
    transition: background-color 0.3s, color 0.3s;
    ;
}

.back-button:hover {
    background-color: #048654;
    color: #fff;
    transform: scale(1.05);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #069C54;
    text-decoration: none;
}

nav a:hover {
    color: #048654;
}

/* Main section styles */
.bd-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section {
    background-color: var(--white-color);
    padding: 2.8rem;
    border-radius: .5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: var(--font-family);
    overflow: hidden;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.section-subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.bd-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.blog-post {
    background-color: var(--white-color);
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: var(--font-family);
}

.blog-post__title {
    margin-top: 0;
    margin-bottom: 10px;
}

.blog-post__content {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info p {
    margin-bottom: 10px;
}

.contact-info strong {
    font-weight: bold;
}

.complaint-form {
    margin-top: 20px;
}

.complaint-form label {
    display: block;
    margin-bottom: 10px;
}

.complaint-form input,
.complaint-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.complaint-form textarea {
    max-height: 150px;
    overflow-y: auto;
}

.complaint-form button[type="submit"] {
    background-color: #069C54;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.complaint-form button[type="submit"]:hover {
    background-color: #048654;
}

.submit-button[type="submit"] {
    background-color: #069C54;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 100px;
    margin-top: 30px;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
}

.submit-button[type="submit"]:hover {
    background-color: #048654;
    transform: scale(1.05);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

.form-group textarea {
    max-height: 150px;
    min-height: 50px;
    max-width: 300px;
    min-width: 200px;
    overflow-y: auto;
}

.form-group textarea::-webkit-scrollbar {
    width: 6px; 
    height: 6px; 
  }
  
  .form-group textarea::-webkit-scrollbar-thumb {
    background-color: #ccc; 
    border-radius: 3px; 
  }
  
  .form-group textarea::-webkit-scrollbar-track {
    background-color: #f0f0f0; 
  }

#form-response {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    display: none;
}

#form-response.show {
    display: block;
}

/* Footer section styles */
.footer {
    background-color: rgba(51, 51, 51, 0);
    color: #fff;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3rem 0 0;
    box-sizing: border-box;
    position: absolute;
    bottom: auto;
    left: 0;
    font-family: var(--font-family);
}

.footer__copy {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-family: var(--font-family);
}

/* Animations */
@keyframes fadeInTop {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

header {
    animation: fadeInTop 1s ease-in-out;
}

.section-title,
.section-subtitle {
    animation: fadeInLeft 1s ease-in-out;
}

.contact-info {
    animation: fadeInRight 1s ease-in-out;
}

.bd-grid {
    animation: scaleIn 0.5s ease-in-out;
}