@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    margin-top: 5px;
    background-color: #069C54;
    color: #fff;
}

header {
    background-color: transparent;
    padding: 20px;
    text-align: center;
    animation: slideDownFadeIn 1s ease-out;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

h1 nav {
    margin-left: 20px;
}

h1 nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 nav li {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}

h1 nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
}

h1 nav a:hover {
    color: #707070;
}

.footer {
    background-color: transparent; 
    padding: 10px;
    text-align: center; 
}

.articles-container {
    text-align: center;
    color: #707070; 
}

.discounts-container {
    display: grid; 
    grid-template-columns: repeat(2, 1.5fr); 
    gap: 10px;
    color: #707070; 
}

article {
    display: inline-block; 
    width: 50%; 
    margin: 20px; 
    vertical-align: top; 
    background-color: #f7f7f7; 
    padding: 20px; 
    border: 1px solid #ddd; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
}

.hero-image {
    width: 100%;
    height: 600px; 
    background-size: cover;
    background-position: center;
    margin-bottom: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.tomatoimage {
    width: 600px;
    height: 400px;
    border-radius: 10px;
}

.wineandcheeseimage {
    width: 600px;
    height: 400px;
    border-radius: 10px;
}

.happyhourimage {
    width: 350px;
    height: 200px;
    border-radius: 10px;
}

.studentdiscountimage {
    width: 350px;
    height: 200px;
    border-radius: 10px;
}

.militarydiscountimage {
    width: 300px;
    height: 250px;
    border-radius: 10px;
}

.kidseatfreeimage {
    width: 350px;
    height: 200px;
    border-radius: 10px;
}

.seniordiscountimage {
    width: 350px;
    height: 250px;
    border-radius: 10px;
}

.loyaltyprogramimage {
    width: 350px;
    height: 200px;
    border-radius: 10px;
}

.back-button {
    display: block;
    margin-top: 20px;
    padding: 10px 15px;
    width: 130px;
    background-color: #fff;
    color: #069C54;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    font-family: var(--font-family);
    white-space: nowrap;
    text-align: center;
    margin-left: 10px;
    transition: background-color 0.3s, color 0.3s;
    ;
}

.back-button:hover {
    background-color: #048654;
    color: #fff;
    transform: scale(1.05);
}

@keyframes slideDownFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-image img,
.articles-container img,
.discounts-container img {
    transition: transform 0.3s;
}

.article {
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    transform: translateY(20px);
}

.article.in-view {
    opacity: 1;
    transform: translateY(0);
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: transparent;
}