@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
}

.body-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../img/background4menu.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px);
    z-index: -1;
}

.header {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 36px;
    font-weight: 600;
    margin: 0;
}

.menu-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    color: #069C54;
    background-color: #FBFEFD;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    height: 600px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.menu-container::-webkit-scrollbar {
    display: none;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list li.menu-item {
    cursor: pointer;
}

.menu-list li.menu-item:hover {
    background-color: #f7f7f7;
}

.menu-list li {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.menu-list h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-top: 0;
    color: #069C54;
}

.menu-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #707070
}

.menu-list li ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    font-weight: 300;
}

.menu-list li ul li a {
    text-decoration: none;
    color: inherit;
}

.menu-list li ul li:last-child {
    border-bottom: none;
}

.menu-list li:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

.back-button {
    display: block;
    margin-top: 20px;
    padding: 10px 15px;
    width: 150px;
    background-color: #069C54;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    transition-timing-function: ease-out;
}

.back-button:hover {
    background-color: #048654;
    transform: scale(1.05);
}

.menu-container {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.menu-list>li {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.menu-container.animate {
    animation: fadeIn 1s forwards;
}

.menu-list>li.animate {
    opacity: 1;
    transform: translateY(0);
    animation: slideIn 0.5s forwards;
}

.menu-list>li {
    animation: slideIn 0.5s ease-out forwards;
}

.menu-list>li:nth-child(1) {
    animation-delay: 0.1s;
}

.menu-list>li:nth-child(2) {
    animation-delay: 0.2s;
}

.menu-list>li:nth-child(3) {
    animation-delay: 0.3s;
}

.menu-list>li:nth-child(4) {
    animation-delay: 0.4s;
}

.menu-list>li:nth-child(5) {
    animation-delay: 0.5s;
}

.menu-list>li:nth-child(6) {
    animation-delay: 0.6s;
}

.menu-header {
    display: flex;
    align-items: center;
}

.menu-header h1 {
    display: inline-block;
    margin-right: 10px; 
}