@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
body {
    margin: var(--header-height) 0 0 0;
    margin-top: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: #069C54;
    color: #fff;
    line-height: 1.6;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  body::-webkit-scrollbar {
    display: none; 
  }
  
  h1, h2, h3, p, ul {
    margin: 0;
  }
  
  ul {
    padding: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .section {
    padding: 4rem 0 2rem;
  }
  
  .section-title, .section-subtitle {
    text-align: center;
  }
  
  .section-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
  }
  
  .section-subtitle {
    display: block;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
  }
  
  .bd-container {
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
  }
  
  .copyright {
    text-align: center;
    margin-top: 20px;
  }
  
  .copyright span {
    margin-right: 5px;
  }
  
  h1 {
    font-size: 50px;
    color: #fff;
    margin-bottom: var(--mb-1);
    margin-left: 10px;
  }
  
  h2 {
    font-size: 30px;
    color: #fff;
    margin-bottom: var(--mb-3);
    margin-left: 10px;
  }
  
  p {
    font-size: 18px;
    color: #fff;
    margin-bottom: var(--mb-2);
    margin-left: 10px;
  }
  
  section {
    margin-bottom: 20px;
  }

  .back-home {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #fff;
    color: #069C54;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 10;
  }
  
  .back-home:hover {
    background-color: #048654;
    color:#fff
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fade-in {
    animation-name: fadeIn;
}

.slide-in {
    animation-name: slideIn;
}